*{
    font-family: arial,sans-serif;
}
body {
    background-color: lightgray;
    margin: 0;
    padding: 0;
}
h1{
    margin: auto;
}
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding-bottom: 15px;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}
nav ul li {
    display: inline;
    margin-right: 15px;
}
nav ul li a {
    color: white;
    text-decoration: none;
}
nav ul li a:hover {
    color: orange;
}
header img {
    margin-top: 10px;
    border-radius: 5px;
}
section {
    width: 85%;
    margin: 30px auto;
    background: white;
    padding: 20px;
    border-radius: 5px;
}
h2 {
    color: #333;
}
p {
    color: #444;
    line-height: 1.5;
}
table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
}
table caption {
    padding: 10px;
    font-size: 18px;
}
th, td {
    border: 1px solid #999;
    padding: 10px;
    text-align: left;
}
th {
    background-color: #333;
    color: white;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}
footer nav ul li {
    display: inline;
    margin-right: 10px;
}
footer nav ul li a {
    color: white;
    text-decoration: none;
}
footer nav ul li a:hover {
    color: orange;
}
footer p {
    color: #ccc;
}